/*======================
    404 page
=======================*/


.page_404 {
    padding: 9em 0;
    background: #e6f0fa;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background-image: url(404.gif);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #e6f0fa !important;
    padding: 10px 20px;
    background: #074C87;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}